@using MvcUyg1.Models.Entity;
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "MusteriIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("MusteriIndex", "Musteri", FormMethod.Get))
{
    <p>
        Aranacak Öğrenci Adı: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ALERT</th>
   
    </tr>
    <tbody>
        @foreach (var mstr in Model)
        {
        <tr>
            <th>@mstr.MUSTERIID</th>
            <td>@mstr.MUSTERIAD</td>
            <td>@mstr.MUSTERISOYAD</td>
            <td><a href="/Musteri/MusteriSil/@mstr.MUSTERIID" class="btn btn-danger">SİL</a></td>
            <td><a href="/Musteri/MusteriGetir/@mstr.MUSTERIID" class="btn btn-success">GÜNCELLE</a></td>
            <td>@Html.ActionLink("SİL BUTONU", "MusteriSil", new { id = mstr.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Gerçekten Silmek İstiyor Musunuz?')" })</td>
        </tr>


            }
    </tbody>
</table>
<a href="/Musteri/MusteriEkle" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>