@model MvcSistem1.Models.Entity.tbListe
@{
    ViewBag.Title = "ListeEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form class="form-group" method="post">

    <div style="margin-top:15px">
        <label>ÖĞRENCİ ADI</label>
        @Html.DropDownListFor(m => m.tbOgrenci.id, (List<SelectListItem>)ViewBag.dgr2, "LÜTFEN SEÇİNİZ",new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>DERS 1</label>
        @Html.DropDownListFor(m => m.tbSinif.id, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>DERS 2</label>
        @Html.DropDownListFor(m => m.tbSinif1.id, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>DERS 3</label>
        @Html.DropDownListFor(m => m.tbSinif2.id, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>DERS 4</label>
        @Html.DropDownListFor(m => m.tbSinif3.id, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>DERS 5</label>
        @Html.DropDownListFor(m => m.tbSinif4.id, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">EKLE</button>
    </div>
</form>
